Jorge Castro DAPT NOV 2021

# Lab | Working with APIs

#### Instructions 

Following the class example, create a function that returns the price, names of origin and arrival airports and the name of the company. Do it for all the flights between two dates that cost the same.

In [149]:
import requests
import getpass

## Lab solution

In [150]:
import requests
# Stablishing the API Call
url = "https://travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com/v1/prices/calendar"

querystring = {"calendar_type":"departure_date","destination":"PMI","origin":"BER","depart_date":"2022-06-01","currency":"EUR"}

headers = {
	"X-Access-Token": token,
	"X-RapidAPI-Host": "travelpayouts-travelpayouts-flight-data-v1.p.rapidapi.com",
	"X-RapidAPI-Key": key
}

# Storing the response on a variable called "response"
response = requests.request("GET", url, headers=headers, params=querystring)

In [151]:
# Creating a list with the main keys of our json data, in this case are the dates
dates_of_flights = list(response.json()['data'].keys())

In [152]:
response.json()['data'].keys()

dict_keys(['2022-05-01', '2022-05-02', '2022-05-03', '2022-05-04', '2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08', '2022-05-09', '2022-05-10', '2022-05-11', '2022-05-13', '2022-05-16', '2022-05-18', '2022-05-25', '2022-05-26', '2022-05-27', '2022-05-28', '2022-06-02', '2022-06-03', '2022-06-06', '2022-06-07', '2022-06-09', '2022-06-10', '2022-06-11', '2022-06-13', '2022-06-23', '2022-06-30', '2022-07-01', '2022-07-02', '2022-07-05', '2022-07-12', '2022-07-21', '2022-07-22', '2022-07-29', '2022-08-14', '2022-09-03', '2022-09-06', '2022-09-11'])

In [153]:
# Here we store those keys as a list
dates_of_flights = list(response.json()['data'].keys())

In [154]:
#dates_of_flights

In [155]:
# Now we can access each element of the list by slising
dates_of_flights[0]

'2022-05-01'

In [156]:
# with the list of keys, which are our dates, we can manipulate the raw data of the response by slising
response.json()['data'][dates_of_flights[0]]

{'origin': 'BER',
 'destination': 'PMI',
 'price': 86,
 'airline': 'EW',
 'flight_number': 6893,
 'departure_at': '2022-05-01T18:35:00+02:00',
 'return_at': '2022-05-06T07:45:00+02:00',
 'transfers': 0,
 'expires_at': '2022-05-02T19:38:01Z'}

In [157]:
response.json()['data'][dates_of_flights[0]]['origin']

'BER'

In [158]:
# creating an empty DataFrame
flights = pd.DataFrame()

In [159]:
flights

Empty DataFrame
Columns: []
Index: []

In [160]:
# Populating our dataframe with the json data looping through it
for i in range(len(dates_of_flights)):
   
    
    flights = flights.append(pd.json_normalize(response.json()['data'][dates_of_flights[i]]))
    
    
#return flights

In [161]:
flights = flights.drop(['flight_number', 'departure_at', 'return_at', 'transfers', 'expires_at'], axis = 1)

In [138]:
#flights

In [164]:
idx = 0

In [165]:
flights.insert(loc=idx, column='date', value=dates_of_flights)

In [167]:
flights = flights.reset_index(drop=True)

In [168]:
flights

          date origin destination  price airline
0   2022-05-01    BER         PMI     86      EW
1   2022-05-02    BER         PMI     95      U2
2   2022-05-03    BER         PMI     39      FR
3   2022-05-04    BER         PMI     43      FR
4   2022-05-05    BER         PMI     82      FR
5   2022-05-06    BER         PMI     84      FR
6   2022-05-07    BER         PMI     45      FR
7   2022-05-08    BER         PMI     90      FR
8   2022-05-09    BER         PMI     38      FR
9   2022-05-10    BER         PMI     49      FR
10  2022-05-11    BER         PMI    149      FR
11  2022-05-13    BER         PMI    118      FR
12  2022-05-16    BER         PMI     47      FR
13  2022-05-18    BER         PMI     50      FR
14  2022-05-25    BER         PMI    161      AL
15  2022-05-26    BER         PMI     93      AL
16  2022-05-27    BER         PMI    155      FR
17  2022-05-28    BER         PMI     91      FR
18  2022-06-02    BER         PMI    144      FR
19  2022-06-03    BER         PMI    109      FR
20  2022-06-06    BER         PMI     54      FR
21  2022-06-07    BER         PMI    146      FR
22  2022-06-09    BER         PMI     95      U2
23  2022-06-10    BER         PMI     83      FR
24  2022-06-11    BER         PMI     95      FR
25  2022-06-13    BER         PMI     47      FR
26  2022-06-23    BER         PMI    148      FR
27  2022-06-30    BER         PMI    119      FR
28  2022-07-01    BER         PMI    111      U2
29  2022-07-02    BER         PMI     68      FR
30  2022-07-05    BER         PMI     88      FR
31  2022-07-12    BER         PMI    115      AL
32  2022-07-21    BER         PMI    128      FR
33  2022-07-22    BER         PMI    116      U2
34  2022-07-29    BER         PMI    155      FR
35  2022-08-14    BER         PMI     93      FR
36  2022-09-03    BER         PMI     68      FR
37  2022-09-06    BER         PMI     54      FR
38  2022-09-11    BER         PMI     54      FR